@keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 20%, 0); }
  to   { opacity: 1; transform: translate3d(0, 0, 0); }
}
@keyframes fadeInRight {
  from { opacity: 0; transform: translate3d(20%, 0, 0); }
  to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Courier New', monospace;
  background-color: #42464a;
  padding: 1em 2vw 2em 2vw;
  width: 100%;
  color: #fff;
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-bottom: 1em;
}

nav {
  text-align: right;
  display: inline-block;
}

header span,
header nav a {
  color: currentColor;
  padding: .2em .4em;
}

img[class*="avatar"] {
  height: 100%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  background-color: #000;
}

[data-timer]::after {
  content: ' ' attr(data-timer);
  text-transform: lowercase;
}

#pull-requests-list {
  width: 100%;
}
#pull-requests-list:empty::after {
  content: "Nothing to see here.";
  font-size: 1.5em;
  text-align: center;
  display: block;
  padding: 2em 0;
}

.pull-request {
  margin-bottom: 1em;
  background-color: #ececec;
  color: #000;
  border: 1px solid #000;
  height: 4em;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, .3);
  white-space: nowrap;

  animation-name: fadeInUp;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}
.pull-request[data-timer]::after,
.pull-request.branch-warning::before {
  position: absolute;
  left: -1px;
  letter-spacing: .1em;
  padding: .1em .2em;
  background-color: #eee;
  border: 1px solid #000;
  z-index: 1;
}
.pull-request[data-timer]::after {
  content: ' ' attr(data-timer);
  bottom: -1px;
}
/* Warning for PR targeted to different branch then develop */
.pull-request.branch-warning::before {
  content: attr(data-base);
  top: -1px;
  background-color: #ff0000;
}
.pull-request a {
  text-decoration: none;
  color: currentColor;
}
.pull-request a:hover {
  text-decoration: underline;
}

.author-avatar,
.main-data-container,
.reviewers-list {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.author-avatar {
  margin-left: -1px;
}

.main-data-container {
  line-height: 1.2;
  padding: .45em 1em;
}

.ticket-link,
.main-link {
  font-size: 1.5em;
}

.ticket-link {
  margin-right: .3em;
}

.additional-data-container {
  opacity: .8;
}

.created-time::before {
  content: 'Created ';
}
.created-time::after {
  content: ' ago in ';
}

.updated-time::before {
  content: ' updated ';
}
.updated-time::after {
  content: ' ago';
}

.reviewers-list {
  position: absolute;
  top: 0;
  right: 0;
}

.reviewer {
  display: inline-block;
  position: relative;
  height: 100%;
  margin-right: -1px;

  animation-name: fadeInRight;
  animation-duration: .5s;
}
.reviewer:first-child {
  box-shadow: -2px 0px 4px rgba(0, 0, 0, .5);
}
.reviewer[data-state]::after {
  content: '';
  display: block;
  position: absolute;
  top: .2em;
  right: .2em;
  width: 1em;
  height: 1em;
  background-color: #ffbd00; /* default = comment */
  border-radius: 50%;
  border: 1px solid #000;
}
.reviewer[data-state="APPROVED"]::after {
  background-color: #30ff30;
}
.reviewer[data-state="CHANGES_REQUESTED"]::after {
  background-color: #ff3030;
}
.reviewer[data-old="true"]::after {
  background-color: #fff;
}

.reviewer-avatar {
  filter: grayscale(.7);
}
